* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

:root {
  --calendar-width: 120rem;
  --calendar-cell__height: 5rem;
  --selects_height: 4rem;
}

body {
  font-family: "Poppins", "Inter";
}

.container {
  /* border: 1px solid black; */
  /* Set your desired calendar width here */
  width: var(--calendar-width);
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.js-calendar {
  /* border: 1px solid blue; */
  width: 100%;
}

.js-calendar__header,
.js-calendar__controls {
  display: flex;
  border-top: 0;
  /* margin-top: 0.5rem; */
}

.js-calendar__header {
  
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.js-calendar__controls {
  height: 10rem;
  /* border-top: 1px solid black; */
  margin-bottom: 3rem;
  display: flex;
}

.js-calendar__controls-btn {
  width: 16.7rem;
  font-size: 2.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

.js-calendar__controls-month-year-selects_cont {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  gap: 4rem;
  font-size: 4rem;
  justify-content: center;
}

.js-calendar__controls-month-year-selects_cont__item {
  border: 0;
  align-self: center;
  height: var(--selects_height);
}

.js-calendar__header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  flex: 1;
  text-align: center;
  height: calc(var(--calendar-cell__height));
}

.js-calendar__body {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* Divide the calendar into 7 equal columns */
  gap: 0.5rem; /* Set the gap between cells */
  margin-top: 0.5rem;
}

.js-calendar__body-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* for media queries it looks better */
  /* height: var(--calendar-cell__height) / 2; */
  height: var(--calendar-cell__height);
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem; /* Add some padding to the cells */
}

.js-calendar__body-item__today{
  color: white;
  font-size: 3rem;
  /* background-color: rgb(243, 243, 243); */
  background-color: black;
}
